<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/layout.css">
        
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

    <main id="main">
        <%- body %>
    </main>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>